<div class="container">
    <div class="row justify-content-center">

        <div class="col-12 col-lg-8">
            <h1>Добавяне на нов студент</h1>
            <br>
            <form action="/admin/students/add" method="post" enctype="multipart/form-data">
                <div class=" form-group">
                    <label for="names" class="form-label">Имена:</label>
                    <input name="names" type="text" class="form-control" id="names"
                        placeholder="Въведете имената на студента" required>
                </div>
                <div class="form-group">
                    <label for="facultyNumber">Факултетен номер:</label>
                    <input name="facultyNumber" type="number" class="form-control" id="facultyNumber"
                        placeholder="Фак.№ на студента">
                </div>
                <div class="form-group">
                    <label for="egn">ЕГН:</label>
                    <input name="egn" type="number" class="form-control" id="egn" placeholder="Въведете ЕГН">
                </div>
                <div class="form-group">
                    <label for="title">Семестър:</label>
                    <select name="semester" id="semester" class="form-control">
                        <option value="1">Първи</option>
                        <option value="2">Втори</option>
                        <option value="3">Трети</option>
                        <option value="4">Четвърти</option>
                        <option value="5">Пети</option>
                        <option value="6">Шести</option>
                        <option value="7">Седми</option>
                        <option value="8">Осми</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="specialty">Специалност:</label>
                    <select name="specialty" id="specialty" class="form-control">
                        <option value="ПМИ">Приложна математика и информатика</option>
                        <option value="ИСН">Информатика и софтуерни науки</option>
                        <option value="ПФКМ">Приложна физика и компютърно моделиране</option>
                    </select>
                </div><br>
                <a class="btn btn-primary" href="/admin/students/" role="button"> <i class="fas fa-backward"></i>
                    Назад</a>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-plus"></i>
                    Добави</button><br>
            </form>

        </div>


    </div>




</div>