<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="row mt-5">
            <div class=" col-md-6 offset-md-3 text-center">
                <h1 class="h3 mb-0 text-gray-800">Правата на акаунта ви не позволяват това действие.</h1>
                <a href="javascript:history.back()" class="permission">
                    <div class="btn btn-info btn-md mt-3">Назад
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Content Row -->
<div class="row">

</div>
</div>