<div class="container">
    <h1>Преподаватели</h1>
    <table class="table table-responsive-md table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Име</th>
                <th scope="col">Емейл</th>
                <th scope="col">Действия</th>
            </tr>
        </thead>
        <tbody>

            {{#each lecturers}}

            <tr>
                <th scope="row">{{name}}</th>
                <td>{{email}}</td>
                <td><a href="/admin/lecturers/edit/{{_id}}" class="btn btn-info" title="Редактирай"><i
                            class="far fa-edit"></i> Редактирай</a>
                </td>
            </tr>

            {{/each}}

        </tbody>
    </table>
    <a href="/admin/lecturers/create"><button class="btn btn-info"><i class="fas fa-plus"></i> Добавяне на
            Преподавател</button></a>
</div>