<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-graduation-cap"></i>
        </div>
        <div class="sidebar-brand-text mx-3">K Project</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/admin">
            <i class="fas fa-university"></i>
            <span>Начало</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Интерфейс
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-book-open"></i>
            <span>Курсове</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/admin/courses">Активни курсове</a>
                <a class="collapse-item" href="/admin/courses/create">Добавяне на курс</a>
                <a class="collapse-item" href="/admin/courses/archive">Архив</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTeachers"
            aria-expanded="true" aria-controls="collapseTeachers">
            <i class="fas fa-fw fa-chalkboard-teacher"></i>
            <span>Преподаватели</span>
        </a>
        <div id="collapseTeachers" class="collapse" aria-labelledby="headingTeachers" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Действия:</h6>
                <a class="collapse-item" href="/admin/lecturers">Всички Преподаватели</a>
                <a class="collapse-item" href="/admin/lecturers/create">Нов преподавател</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseStudents"
            aria-expanded="true" aria-controls="collapseStudents">
            <i class="fas fa-fw fa-user-friends"></i>
            <span>Студенти</span>
        </a>
        <div id="collapseStudents" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Действия:</h6>
                <a class="collapse-item" href="/admin/students">Всички Студенти</a>
                <a class="collapse-item" href="/admin/students/add">Добавяне на Студенти</a>
            </div>
        </div>
    </li>
    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAssignments"
            aria-expanded="true" aria-controls="collapseAssignments">
            <i class="fas fa-fw fa-user-friends"></i>
            <span>Проекти</span>
        </a>
        <div id="collapseAssignments" class="collapse" aria-labelledby="headingAssignments"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Действия:</h6>
                <a class="collapse-item" href="/admin/assignments">Активни проекти</a>
                <a class="collapse-item" href="/admin/assignments/archive">Архив</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/grades">
            <i class="fas fa-fw fa-table"></i>
            <span>Оценки</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">


    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNews" aria-expanded="true"
            aria-controls="collapseNews">
            <i class="fas fa-newspaper"></i>
            <span>Статии</span>
        </a>
        <div id="collapseNews" class="collapse" aria-labelledby="headingNews" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Действия:</h6>
                <a class="collapse-item" href="/admin/posts">Статии</a>
                <a class="collapse-item" href="/admin/create-post">Добави нова статия</a>
            </div>
        </div>
    </li>

    <br>
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>



</ul>
<!-- End of Sidebar -->